<%= turbo_frame_tag "generate-password-form" do %>
  <%= form_with url: generate_passwords_path,
                method: :get,
                class: "flex flex-col gap-4" do |f| %>

    <% if @error_message %>
      <p class="text-red-500">
        <%= @error_message %>
      </p>
    <% end %>

    <%= f.text_field :generated_password,
                     value: @generated_password,
                     class: "rounded w-full" %>

    <div class="flex justify-between">
      <div class="flex gap-4 items-center">
        <fieldset class="mr-8">
          <%= f.label "length: " %>
          <%= f.number_field :length,
                             placeholder: "16",
                             in: 1..100,
                             value: @length,
                             class: "w-[90px] h-[22px]" %>
        </fieldset>
        <fieldset>
          <%= f.check_box :lowercase_letters, checked: @include_lowercase_letters %>
          <%= f.label :lowercase_letters %>
        </fieldset>
        <fieldset>
          <%= f.check_box :uppercase_letters, checked: @include_uppercase_letters %>
          <%= f.label :uppercase_letters %>
        </fieldset>
        <fieldset>
          <%= f.check_box :digits, checked: @include_digits %>
          <%= f.label :digits %>
        </fieldset>
        <fieldset>
          <%= f.check_box :symbols, checked: @include_symbols %>
          <%= f.label :symbols %>
        </fieldset>
      </div>
      <div>
        <%= f.submit "Generate Password",
                     formaction: generate_passwords_path,
                     class: "bg-sky-600 text-white p-2 rounded" %>
        <%= f.submit "Save Password",
                     formaction: new_password_path,
                     class: "bg-sky-600 text-white p-2 rounded" %>
      </div>
    </div>
  <% end %>
<% end %>